.event-card-flex-row {
    display: grid;
    /* Defines 3 columns: 300px for title, '1fr' (rest of space) for text, 150px for button */
    grid-template-columns: 300px 1fr 150px;
    align-items: center;
    gap: 40px;
    margin: 20px auto;
    width: 80%;
}

.event-card-flex-column {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-width: 0;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.event-card-header{
    font-family: 'Trebuchet MS', sans-serif;
    padding-block: 20px;
    font-weight: bold;
    color: #254336;
    font-size: 40px;
    max-width: 90%;
}

.left-aligned-text-description {
    display: block;
    text-align: left;
    margin: 0 120px 0 120px;
}